* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}



@font-face {
        font-family: Josephine;
        src: url("./fonts/Josephine.ttf");
}

@font-face {
        font-family: RugRat;
        src: url("./fonts/RugRat.ttf");
}

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 90px 15%;
        font-size: 300%;
        font-family: Josephine;
}





h1, h2, h3, h4, h5, h6 {
        font-family: RugRat;
}




a {
        display: flex;
        padding: 0;
        margin: 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

.smallImage {
        width: 20%;
        margin: 150px 0 10px 0;

}

p, ul {
        margin: 50px 0 150px 0;
}

li {
        margin: 20px;
}




nav {
        position: fixed;
        text-align: right;
        width: 10%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgb(255, 255, 255);
        padding: 10px 20px 0 20px;
        border-radius: 20px 0 0 20px;
        z-index: 1;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

nav > * {
        text-decoration: none;
}
